@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
    --color-bg: #075e54;
    --color-text: #25d366;

    --breakpoint-xs: 30rem;
}

@custom-variant hover (&:hover);

* {
    font-family: "Quicksand", sans-serif;
}

code {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}
